<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">RentCar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="nav-link" aria-current="page" href="{% url 'mobil:masterMobil' %}">Master Car</a>
        <a class="nav-link" aria-current="page" href="{% url 'pesanan:manageOrder' %}">Master Order</a>
        <a class="nav-link" aria-current="page" href="{% url 'pesanan:feedbackOrder' %}">Master FeedBack</a>
        <a class="nav-link" aria-current="page" href="{% url 'user:logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
      </div>
    </div>
  </div>
</nav>