
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded fixed-top nav-admin bg-light" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div style="padding: 5px;" class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0 fw-bold shadow-none" href="{% url 'dashboard' %}">RENTCAR</a>
      <ul class="navbar-nav col-lg-9 justify-content-lg-end" >
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mobil:masterMobil' %}">Master Mobil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pesanan:manageOrder' %}">Master Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pesanan:feedbackOrder' %}">Master FeedBack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-logout" href="{% url 'user:logout' %}"><i class="fa-solid fa-arrow-right-from-bracket text-danger"></i></a>
        </li>
        
        
      </ul>

    </div>
  </div>
</nav>