body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/bgRegister.png');
    margin: 0;
    padding: 0;
}

.box-content {
    width: 20%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.form-control,
.form-control:focus {
    border: 1.5px solid rgba(0, 0, 0, 0.5);
    height: 38px;
    border-radius: 10px;
    font-size: medium;
    /* padding-top: 2px; */
    font-weight: 500;
}

.btn-logins,
.btn-logins:hover,
.btn-logins:focus {
    margin-top: 4%;
    background-color: #96EFFF;
    width: 100%;
    font-weight: 500;
    margin-left: 0px;
    color: white;
}

.register {
    margin-top: 1%;
    color: #656363;
    opacity: 57%;
    font-weight: 600;
}

.register a {
    color: #000;
    opacity: 63%;
}