.navbar-brand {
    color: black !important;
    font-weight: 600;
    background-color: transparent;
    outline: none;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item:focus .nav-link {
    background-color: transparent !important;
    /* Set background jadi transparan */
    color: black;
    /* Pertahankan warna teks yang ada */
    outline: none;
    font-weight: 400;
    /* Hilangkan outline default */
}

.btn-login,
.btn-login:focus,
.btn-login:hover,
.btn-login:active {
    background-color: #7B66FF;
    color: white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-left: 10px;
}

.btn-logout,
.btn-logout:focus {
    font-weight: bold;
    margin-left: 10px;
}