{% extends '../base.html' %}
{% load static %}
{% block headers %}
<link href="{% static 'css/admin/dashboard.css' %}" rel="stylesheet" type="text/css">
{% endblock headers %}

{% block contents %}
{% include '../partials/navbarAdmin.html' %}
<div class="wrapper" style="margin-top:5%">
    <!-- Kartu Statistik -->
    <div class="row my-4">
        <!-- Total User -->
        <div class="col mb-2">
            <div class="card" style="background: #6C5FFD; color: white;" width="19rem">
                <div class="d-flex align-items-center">
                    <div class="card-body col-8">
                        <h5 class="card-title">{{ user_count }}</h5>
                        <p class="card-text">Total User</p>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <img src="{% static 'img/user.png' %}" alt="User Image" class="img-fluid" style="width: 50px;">
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Car -->
        <div class="col mb-2">
            <div class="card" style="background: #04C3FB; color: white;" width="19rem">
                <div class="d-flex align-items-center">
                    <div class="card-body col-8">
                        <h5 class="card-title">{{ mobils_count }}</h5>
                        <p class="card-text">Total Car</p>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <img src="{% static 'img/car.png' %}" alt="Car Image" class="img-fluid" style="width: 50px;">
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Income -->
        <div class="col mb-2">
            <div class="card" style="background: #09AD95; color: white;">
                <div class="d-flex align-items-center">
                    <div class="card-body col-8">
                        <h5 class="card-title">{{ income_count }}</h5>
                        <p class="card-text">Total Income</p>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <img src="{% static 'img/dollar.png' %}" alt="Income Image" class="img-fluid" style="width: 50px;">
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Order -->
        <div class="col mb-2">
            <div class="card" style="background: #6C5FFD; color: white;" width="19rem">
                <div class="d-flex align-items-center">
                    <div class="card-body col-8">
                        <h5 class="card-title">{{ order_count }}</h5>
                        <p class="card-text">Total Order</p>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <img src="{% static 'img/refresh.png' %}" alt="Order Image" class="img-fluid" style="width: 50px;">
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Feedback -->
        <div class="col mb-2">
            <div class="card" style="background: #6C5FFD; color: white;" width="19rem">
                <div class="d-flex align-items-center">
                    <div class="card-body col-8">
                        <h5 class="card-title">{{ return_order_count }}</h5>
                        <p class="card-text">Total Feedback</p>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <img src="{% static 'img/refresh.png' %}" alt="Feedback Image" class="img-fluid" style="width: 50px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pesan -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert z-3 alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Tabel Data -->
    <div class="tabel shadow">
        <div class="row">
            <h4>Data</h4>
            <hr>
            <p>Filter Tanggal</p>
            <form method="GET" action="{% url 'dashboard' %}">
                <div class="d-flex mb-3">
                    <div class="col-sm-2">
                        <input type="date" class="form-control shadow-none" name="start_date" placeholder="Tanggal awal" required>
                    </div>
                    <div class="col-sm-2 mx-2">
                        <input type="date" class="form-control shadow-none" name="end_date" placeholder="Tanggal akhir" required>
                    </div>
                    <div class="col-sm-4 d-flex align-items-center pt-1">
                        <button class="btn shadow-none filter d-flex align-items-center" type="submit">
                            <i class="fa-solid fa-filter me-2"></i>Filter
                        </button>
                        <a href="{% url 'generate_pdf' %}" class="btn shadow-none btn-pdf d-flex align-items-center ms-2">
                            <i class="fa-regular fa-file-pdf me-2"></i>PDF
                        </a>
                    </div>
                </div>
            </form>
            <div class="col-12 col-xl-12 mb-4 mb-lg-0">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Order</th>
                                        <th class="text-center">Car</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Check-in</th>
                                        <th class="text-center">Check-out</th>
                                        <th class="text-center">Total Harga</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if order_items %}
                                    {% for order in order_items %}
                                        {% for item in order.orderitem_set.all %}
                                        <tr>
                                            <td class="text-center">{{ order.id }}</td>
                                            <td class="text-center">{{ item.id_mobils.name }}</td>
                                            <td class="text-center">{{ item.id_mobils.pricePerDay }}</td>
                                            <td class="text-center">{{ order.start_date }}</td>
                                            <td class="text-center">{{ order.end_date }}</td>
                                            <td class="text-center">{{ order.grand_total }}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td class="text-center" colspan="6">Tidak ditemukan</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}
