{% extends '../base.html' %}
{% load static %}
{% block headers %}
<link href="{% static 'css/user/formCheckout.css' %}" rel="stylesheet" type="text/css">
{% endblock headers %}

{% block contents %}
{% include '../partials/navbarUser.html' %}
<main class="container d-flex justify-content-center" style="margin-top:5%">
    <!-- Tampilkan data mobil -->


    <!-- form check out -->
    <div class="col-md-6">
        {% include 'widgets/flasher.html' %}
        <h3 class="text-center"><b>Rental Form</b></h3>
        <div class="card mb-3">
            <div class="row no-gutters d-flex justify-content-between align-items-center">
                <div class="col-md-3">
                    <img src="{{ mobils.image1.url }}" class="card-img" alt="{{ mobils.name }}" height="100px">
                </div>
                <div class="col-md-2 text-center">
                    <div class="col header-card">{{ mobils.name }}</div>
                    <div class="col value-card">{{ price }}</div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="col header-card">CHECK IN</div>
                    <div class="col value-card">{{ check_in }}</div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="col header-card">CHECK OUT</div>
                    <div class="col value-card">{{ check_out }}</div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="col header-card">QUANTITY</div>
                    <div class="col value-card">{{ quantity }}</div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="col header-card">TOTAL</div>
                    <div class="col value-card">{{ total_price }}</div>
                </div>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 form-group">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control shadow-none" id="firstName" name="firstName"
                    placeholder="First Name" value="{{ user.username }}" disabled>
            </div>
            
            <div class="mb-3 form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control shadow-none" id="email" name="email" value="{{ user.email }}"
                    disabled>
            </div>

            <div class="mb-3 form-group">
                <label for="telephone" class="form-label">Telephone</label>
                <input type="number" class="form-control shadow-none" id="telephone" name="telephone"
                    placeholder="Telephone">
            </div>
            <div class="mb-3 form-group">
                <label for="uploadKK" class="form-label">Upload KK</label>
                <input type="file" class="form-control shadow-none" id="uploadKK" name="uploadKK" placeholder="uploadKK"
                    accept="upload/images/*">
            </div>
            <div class="mb-3 form-group">
                <label for="uploadKTP" class="form-label">Upload KTP</label>
                <input type="file" class="ml-1 form-control shadow-none" id="uploadKTP" name="uploadKTP"
                    placeholder="uploadKTP" accept="upload/images/*">
            </div>
            <div class="mb-3 form-group">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control shadow-none" name="address" id="address" name="address" cols="30" rows="5"
                    placeholder="Address"></textarea>
            </div>

            <div class="mb-3 form-group">
                <label for="uploadPurchace" class="form-label">Upload Purchace</label>
                <input type="file" class="form-control shadow-none" id="uploadPurchace" name="uploadPurchace"
                    placeholder="uploadPurchace" accept="upload/images/*">
                <div class="form-text">*Transfer ke rekening Bank AyamJago 1213131</div>
            </div>
            <button style="width: 100%;" type="submit" class="btn button-book shadow-none">Book</button>
        </form>
    </div>
</main>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top w-100">
    <div class="col text-start" style="color: white; font-weight:700; font-size: 13px">
      <a href="" class="mb-3 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="40" height="24">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; RentCar</span>
    </div>
    <div class="col-md-4 text-end mr-3">
      <img src="{% static 'img/wa.png' %}" alt="" width="23px">
      <img src="{% static 'img/instagram.png' %}" alt="" width="23px">
      <img src="{% static 'img/facebook.png' %}" alt="" width="23px">
    </div>
  </footer>
{% endblock contents %}