{% extends '../base.html' %}
{% load static %}
{% block headers %}
<link rel="stylesheet" href="{% static 'css/user/registerUser.css' %}">
{% endblock headers %}

{% block contents %}
<div class="box-content">
    <div class="justify-content-center align-items-center">
      <form method="POST" action="{% url 'user:registerUser' %}">
        {% csrf_token %}
        <h3 class="h3 mb-3 fw-normal text-center"><b>Register.</b></h3>
        <div class="mb-3 mt-5">
          <input type="email" class="form-control shadow-none" id="floatingInput" placeholder="Email" name="email">

        </div>
        <div class="mb-3">
          <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="First Name" name="firstName">

        </div>
        <div class="mb-3">
          <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="Last Name" name="lastName">

        </div>
        <div class="mb-3">
          <input type="password" class="form-control shadow-none" id="floatingPassword" placeholder="Password" name="password">

        </div>
        {% include 'widgets/flasher.html' %}
        <button class="w-100 mb-2 btn btn-register btn-lg shadow-none" type="submit">Register</button>

      </form>
    </div>
    </div>
{% endblock contents %}
    